html {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #EBEBEB;
}

body {
    line-height: 1.4rem;
}

/* Header */

header {
    
}

menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.menu ul {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131448;
    color: white;
    padding: 5px 25px;
}

.container {
    display: flex;
    flex-direction: column;
}

.me {
    padding: 20px 50px;
    height: 661px;
    width: 528px;

}

.main-info {
   background-color:#EBEBEB ;  
}

.text-menu{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.wrapper-under {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.main-info h3 {
    font-size: 18px;
    width: 400px;
    font-weight: 100;
}
.main-info h1 {
    height: 5px;
    font-size: 55px;
    text-align: center;
    
}
